<div *ngIf="!translationSelected" >
 <p class="message">Select transaltion to view history...</p>
</div>
<div class="history-spinner" style="overflow: hidden;" *ngIf="!historyIsLoaded&&translationSelected">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="historyIsLoaded && translationSelected && history.length===0" >
  <p class="message">There is no history...</p>
</div>
<mat-list class="content" *ngIf="historyIsLoaded&&translationSelected&&history.length!==0" ngxInfiniteScroller horizontal="false" (onScrollDown)="onScrollDown()">
  <div class="story" *ngFor="let story of history">
    <mat-card class="story-card">
      <div class="head">
        <img src="{{story.avatarUrl}}" class="story-image">
        <h4 style="margin-left: 10px">{{story.userName}}</h4>
        <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="revertHistory(story)" mat-menu-item>Revert</button>
        </mat-menu>
        <button *ngIf="showHistoryMenu(story?.user?.id)" mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="dropdown-menu">more_vert</mat-icon>
        </button>
      </div>
      <p>{{story.action}} <i style="color: brown; font-size: 15px;">"{{story.from}}"</i>  to <i style="color: green; font-size: 15px;">"{{story.to}}"</i></p>
      <p class="date">{{story.when | date:'medium'}}</p>
    </mat-card>
  </div>
</mat-list>
