<div class="content" *ngIf="history">
  <div class="story" *ngFor="let story of history">
    <mat-card class="story-card">
      <div class="head">
        <img src="{{story.avatarUrl}}" class="story-image">
        <h4 style="margin-left: 10px">{{story.userName}}</h4>
      </div>
      <p>{{story.action}} <i style="color: brown; font-size: 15px;">"{{story.from}}"</i>  to <i style="color: green; font-size: 15px;">"{{story.to}}"</i></p>
      <p class="date">{{story.when | date:'medium'}}</p>
    </mat-card>
  </div>
</div>
