<form (submit)="onSubmit()">
  <h4>Create String</h4>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <div>
        <mat-form-field>
          <input id="key" appNoWhiteSpace name="key" type="text" [(ngModel)]="str.key" required matInput placeholder="Key"
                 #key="ngModel" maxlength="25" autocomplete="yes">
          <mat-error *ngIf="key.errors?.required">
            Key is required
          </mat-error>
          <mat-error *ngIf="key.errors?.WhiteSpace && !key.errors?.required">
            Only spaces are not allowed
          </mat-error>
        </mat-form-field>

        <mat-form-field>  
          <input id="base" appNoWhiteSpace name="base" type="text" [(ngModel)]="str.base" required matInput placeholder="Base Translation"
                 #base="ngModel" autocomplete="yes">
          <mat-error *ngIf="base.errors?.required">
            Base Translation is required
          </mat-error>
          <mat-error *ngIf="base.errors?.WhiteSpace && !base.errors?.required">
            Only spaces are not allowed
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <textarea id="description" name="description" type="text" [(ngModel)]="str.description" matInput placeholder="Description"
                    #description="ngModel" maxlength="500" autocomplete="yes"></textarea>
          <mat-hint align="end">{{description.value ? description.value.length : 0}} / 500</mat-hint>
        </mat-form-field>
      </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-upload-image (fileEvent) = "receiveImage($event)"></app-upload-image>
      </mat-grid-tile>
    </mat-grid-list>
    <app-tags [allTags] = "getAllTags()"
    (tagsEvent) = "receiveTags($event)"></app-tags>
    <button 
      type="submit" 
      [disabled] = "str.key == '' || str.base == ''" 
      mat-raised-button color="primary">
      Upload
    </button>
</form>