.drop
  border: dotted 3px lightgray
  width: 400px
  height: 200px
  text-align: center
  position: relative
  vertical-align: middle
  line-height: 50px
  margin-bottom: 20px
  margin-top: 20px
  border-radius: 5px
  font-size: 30px
  
.drop:hover
  background-color: #f1f1f1
  transition: 0.4s
  border-color: #f1f1f1
  cursor: pointer

.invalid-drag 
  border: dotted 3px red
  
.valid-drag 
    border: dotted 3px green

.drop
  margin: 0 0

.container
  text-align: center
  margin-top: 40px