
.container
  margin: 50px

.example-card 
  max-width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 
.example-header-image 
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

.button-add
 position: fixed;
 right: 50px;
 bottom: 100px;
 width: 72px;
 height: 72px;




