
<div class="container" fxLayout="wrap row"fxLayout.xs="column" fxLayout.sm="column"  fxLayoutAlign="center" fxLayoutAlign.sm="center stretch">
    <div fxFlex="30%" *ngFor="let card of cards">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{card.text}}</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/project_banner.png" alt="Photo of a project">
            <mat-card-content>
           
            </mat-card-content>
            <mat-card-actions class="card-buttons">
              <button mat-button>WORKSPACE</button>
              <button mat-button>DETAILS</button>
            </mat-card-actions>
            <mat-progress-bar mode="determinate" value={{card.progress}}></mat-progress-bar>
            <span class="progress-span">{{card.progress}}% translated </span>
          </mat-card>
    </div>
    <button mat-fab color="primary" class="button-add">
        <mat-icon aria-label="Add button">add</mat-icon>
      </button>
</div>