<form #imageForm = ngForm>
  <div [ngfBackground]="fileToUpload" *ngIf="!isWarning" class = "img">
    <img *ngIf="!fileToUpload && !imageUrl" class="defaultImg" src = "/assets/images/default.jpg">
    <img *ngIf="imageUrl && !fileToUpload" class="defaultImg" src="{{imageUrl}}">
  </div>
  <div *ngIf="isWarning" class="px-2">
    <span>Image more than 10MB!</span><br>
    <span>Please,select another</span>
  </div>
  <div ngfDrop selectable="1" multiple="1"
  [(file)]="fileToUpload"
  [(validDrag)]="validDrag"
  [(invalidDrag)]="invalidDrag"
  [class.invalid-drag] = "validDrag===false"
  [class.valid-drag]   = "validDrag"
  accept= "image/*"
  class="drop"
  (filesChange) = "sendImage($event)"
>
  Select Image
</div>
  <!-- <button type="submit" [disabled] = "!fileToUpload" mat-raised-button color="primary"  
  (click) = "uploadImage()">Upload</button> -->
</form>
