<div style="text-align:center">
    <mat-toolbar color="primary" class="main-toolbar">
        <h1 class="app-name">Polyglot</h1>
        <span class="toolbar-spacer"></span>

        <button mat-button (click)="onLoginClick()"> Login </button>
        <button mat-button (click)="onSignUpClick()"> Sign In</button>

    </mat-toolbar>

    <h1>Welcome to {{ title }}!</h1>
    <h2>We provide an easy possibility to translate a website or mobile app or any other type of project.</h2>
    <h3>More content will be here soon...</h3>
    <img class="banner" src="assets/images/banner.jpg">


</div>