# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/frontend/dist

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

obj/
bin/
.vs/
node_modules/
packages/
frontend/src/assets/images/robo3t-1.2.1-windows-x86_64-3e50a65.zip
frontend/package.json
frontend/package-lock.json
frontend/package-lock.json
backend/Polyglot/appsettings.Development.json