<p mat-dialog-title>Assigning a team</p>
<form class="search-form">
  <mat-form-field class="search-full-width">
    <input type="search" matInput placeholder="Search">
    <button mat-raised-button color="primary" matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

</form>
<mat-dialog-content>
  <mat-selection-list #teamsListElement>
    <mat-list-option class="list-item" (click)="change($event, teamsListElement)" *ngFor="let t of teams" [selected]="t.selected"
      [value]="t">

      <div class="item-container">
        <img class="manager-img" src="{{t.createdBy.avatarUrl}}">
        <div class="title">
          <mat-card-title class="card-title">{{t.name}}</mat-card-title>
          <mat-card-subtitle class="card-subtitle">{{t.createdBy.fullName}}</mat-card-subtitle>
        </div>

        <img height="40" width="40" *ngFor="let p of t.persons" src="{{getAvatarUrl(p)}}">
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>

  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions class="p-1 mt-2">
  <button style="float: left" mat-raised-button color="primary" [disabled]="disabled" (click)="assign()" mat-button>Assign</button>
  <button style="float: right" mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
</mat-dialog-actions>