
.content 
  flex: 1

.main 
  display: flex
  flex-direction: column
  > *:not(router-outlet) 
    flex: 1
    display: block
  
.all-wrap
  min-height: 100vh
  

.page-wrap 
  display: flex
  flex-direction: column
  min-height: 100vh
   

.mat-sidenav-content
  text-align: left 
  



.companyName
  font-size: 150%
  margin-left: 15px
  outline: 0

.companyName:hover
    cursor: pointer

div
  overflow: inherit
a
  text-decoration: none
  font-size: 110%
  white-space: normal
  text-align: left

button
  min-width: min-content

.example-icon
  padding: 0 14px

.example-spacer
  flex: 1 auto

.toolbar-icon
  padding: 0 14px

.profile-button
  background-color: white
  color: #222
  margin-left: 20px

.profile-small-image
  width: 42px
  height: 42px 
  border-radius: 50% 
  position: absolute 
  bottom: 0px
  right: 0px

.profile-card
  max-width: 300px 
  border-radius: 8px

.profile-card-main
  display: flex 
  align-items: center

.profile-big-image
  border-radius: 50% 
  width: 100px 
  height: 100px

.profile-card-navigation
  display: flex 
  justify-content: space-around

.profile-card-navigation-button
  text-align: center
  

h1.example-app-name 
  margin-left: 8px

.active 
  color: #3F51B5

.aside-button  
  align-self: center
  margin-top: 20px


