
.companyName
  font-size: 150%

div
  overflow: inherit

a
  text-decoration: none
  font-size: 110%
  white-space: normal
  text-align: left

button
  min-width: min-content

.example-icon
  padding: 0 14px

.example-spacer
  flex: 1 auto

.mat-sidenav-content
  text-align: left

.toolbar-icon
  padding: 0 14px

.profile-button
  background-color: white
  margin-left: 20px

.profile-small-image
  width: 42px
  height: 42px 
  border-radius: 50% 
  position: absolute 
  bottom: 0px
  right: 0px

.profile-card
  max-width: 300px 
  border-radius: 8px

.profile-card-main
  display: flex 
  align-items: center

.profile-big-image
  border-radius: 50% 
  width: 100px 
  height: 100px

.profile-card-navigation
  display: flex 
  justify-content: space-around

.profile-card-navigation-button
  text-align: center
  
.example-container 
  display: flex
  flex-direction: column
  position: relative
  top: 0
  bottom: 0
  left: 0
  right: 0


.example-is-mobile .example-toolbar 
  position: fixed
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2


h1.example-app-name 
  margin-left: 8px


.example-sidenav-container 
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1


.example-is-mobile .example-sidenav-container 
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto

.active 
  color: #3F51B5

.aside-button  
  align-self: center
  margin-top: 20px


mat-sidenav-container
  background: white