.container
    padding: 2%

ul
    margin: 0
    margin-top: 5%
    padding: 0 5%

li
    list-style: none
    margin-bottom: 2%

.lang-item mat-card
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center

.lang-progress
    width: 50%
    align-self: center

.lang
    align-self: center