<div class="container">
    <button mat-flat-button color="primary">Select new language</button>

    <ul class="lang-list">

        <li class="lang-item" *ngFor="let l of langs">
            <mat-card>
              <span class="lang">{{l.name}}</span> 
              <mat-progress-bar class="lang-progress" mode="determinate" value="{{l.progress}}"></mat-progress-bar>
              <button (click)="onDeleteLanguage(l.id)" mat-icon-button>
                  <mat-icon aria-label="">delete_sweep</mat-icon>
              </button>
            </mat-card>
        </li>
    </ul>
    
    <ng-snotify></ng-snotify>
    <mat-spinner *ngIf="false"></mat-spinner>
</div>
