.content
    margin-top: 5px
    overflow-y: auto;
    word-break: break-all
    height: calc(72vh - 120px)


.story-card
    margin: 5px
    background-color: #f4f7fc
    margin-top: 15px

.head
    display: flex 
    align-items: center

.story-image
    height: 50px 
    width: 50px 
    border-radius: 50%

.date
    font-size: 13px
.message
    font-size: 25px
    text-align: center
    align-items: center
    color: Gainsboro

.spinner ::ng-deep .mat-progress-spinner
    width: 50px !important
    margin: 30% auto
    height: 50px !important

.spinner::ng-deep .mat-progress-spinner svg
    width: 50px !important
    height: 50px !important