<h3>Select tag color</h3>
<hr>
<div>
<button *ngFor="let color of data;let i = index" (click)=selectColor(i) mat-button class="colorStyle" [style.background-color]="color">
<!--   костыль на кнопку без текста -->
<span [style.color]="color">.</span>
</button>
<button mat-button class="colorStyle" (click)=selectColor(0)>
  <span [style.color]="color">No color</span>
</button>
</div>
<hr>
<button mat-flat-button color="primary" style="float:right;margin-right: 10px;" (click)=onAccept();>Accept</button>
