<div class="content" *ngIf="keyDetails">
    <div class="creater-wrapper">
        <img src="{{user.avatarUrl}}" alt="ava" class="avatar" (click) = "redirectById(keyDetails.createdBy)">
        <div class="key-user-data">
            <div (click) = "redirectById(keyDetails.createdBy)" class="key-user-name">{{user.fullName}}</div>
            <div class="key-created-on">Created on: {{keyDetails.createdOn | date:'medium'}}</div>
        </div>
    </div>
    <div *ngIf="keyDetails.pictureLink" class="img-container">
        <img class="content-img" (click)="onImageClick(keyDetails)" mat-card-image src={{keyDetails.pictureLink}} alt="Photo of a project"
            onError="this.src='/assets/images/default.jpg';">
    </div>
    <br>
    <div>
        <b>Key: </b>
        {{keyDetails.key}}
    </div>
    <br>
    <div>
        <b>Base translation: </b>
        {{keyDetails.base}}
    </div>
    <br>
    <b *ngIf="keyDetails.description != null && keyDetails.description != ''">Description:</b>
    <div>{{keyDetails.description}}</div>
</div>
