.contacts-list
  max-width: 320px

.example-container 
  display: flex
  flex-direction: column

.example-is-mobile .example-toolbar 
  position: fixed
  z-index: 2

h1.example-app-name 
  margin-left: 8px

.example-sidenav-container 
  flex: 1

.example-is-mobile .example-sidenav-container
  flex: 1 0 auto



.chat-content-container
  height: 60vh
  overflow-y: scroll

.chat-message-form,
.chat-form-field
  width: 100%

.message-actions-container
  display: flex
  flex-direction: row

.message-card
  width: 80%
  margin: 1.5%
  margin-left: 30px
  background-color: #D0D0D0

.message-card:hover
    background-color: #C1C1C1


.message-card:after
	content: ''
	position: absolute
	left: 0
	top: 50%
	width: 0
	height: 0
	border: 29px solid transparent
	border-right-color: #D0D0D0
	border-left: 0
	border-bottom: 0
	margin-top: -14.5px
	margin-left: -29px

.typing-users-container
  font-size: 12px
  ul li
    display: inline-block