//.contacts-list
//  width: 320px

.example-container 
  display: flex
  flex-direction: column

.example-is-mobile .example-toolbar 
  position: fixed
  z-index: 2

h1.example-app-name 
  margin-left: 8px

.example-sidenav-container 
  height: 100vh
  flex: 1

.example-is-mobile .example-sidenav-container
  flex: 1 0 auto

.chat-messages-window
  .mat-drawer-content
    overflow: hidden



