.example-container 
  display: flex
  flex-direction: column

.mat-drawer
  height: 70vh

.mat-drawer .mat-icon
  position: absolute

.channel-btn
  width: 100%
  text-align: left
  padding-left: 25px
  font-size: 16px

.example-is-mobile .example-toolbar 
  position: fixed
  z-index: 2

h1.example-app-name 
  margin-left: 8px

.example-sidenav-container 
  flex: 1

.example-is-mobile .example-sidenav-container
  flex: 1 0 auto

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description 
  flex-basis: 0


.example-headers-align .mat-expansion-panel-header-description 
  justify-content: space-between
  align-items: center

.mat-expansion-panel,
.mat-accordion
  margin-top: 0

.mat-expansion-panel-body
  padding: 24px 0 !important

ul,
li,
  margin: 0
  padding: 0
  list-style: none

.mat-card
  box-sizing: border-box
  width: 100%

.chat-content-container
  height: 60vh
  overflow-y: scroll

.chat-message-form,
.chat-form-field
  width: 100%
