<div class="item">
    <div class="description">
        <h3>1. Get team invitation</h3>
        <p class="step">
            First of all you should find a manager that is looking for translators.
        </p>
        <p class="step">
            As soon as he invites you in his team, you will get a notification.
        </p>
        <p class="step">
            To enter this team you have to accept it.
        </p>
    </div>
    <div class="image">
        <img src="/assets/images/guideline/Invitation.PNG">
    </div>
</div>

<div class="item">
    <div class="description">
        <h3>2. Translating</h3>
        <p class="step">
            To start your work you have to enter project`s workspace.
        </p>
        <p class="step">
            In the left column you will see a list of stings.
        </p>
        <p class="step">
            After selecting string you will see a list of translations for this string in the central column.
        </p>
        <p class="step">
            Just click on the line with empty translation and type there your variant.
        </p>
        <p class="hint">
            <mat-icon style="vertical-align: middle;">info_outline</mat-icon>
            You can`t type if translations are assigned for somebody else!
        </p>
    </div>
    <div class="image">
        <img src="/assets/images/guideline/Translate.PNG">
    </div>
</div>

<div class="item">
    <div class="description">
        <h3>3. Machine translation</h3>
        <p class="step">
            To make your work easier you can use machine translation.
        </p>
        <p class="step">
            After clicking on the machine translation icon you will get a dialog window with suggested translation.
        </p>
        <p class="step">
            You have to click on it to confirm this translation.
        </p>
        <p class="hint">
            <mat-icon style="vertical-align: middle;">info_outline</mat-icon>
            Remember that machine translation is still not ideal!
        </p>
    </div>
    <div class="image">
        <img src="/assets/images/guideline/MachineTranslation.PNG">
    </div>
</div>

<div class="item">
    <div class="description">
        <h3>4. Glossaries</h3>
        <p class="step">
            You can use glossaries to make complicated terms clearer.
        </p>
        <p class="step">
            To use the glossary it should be already assigned to the project.
        </p>
        <p class="step">
            All you need is to type some term out of this glossary.
        </p>
    </div>
    <div class="image">
        <img src="/assets/images/guideline/GlossaryUsage.PNG">
    </div>
</div>

<div class="item">
    <div class="description">
        <h3>5. Workflow helpers</h3>
        <p class="step">
            In the right column of workspace you can find several useful options.
        </p>
        <p class="step">
            In the <strong>History</strong> tab you can see all the previous versionss of selected translation.
        </p>
        <p class="step">
            In the <strong>Comment</strong> tab you can see 
        </p>
        <p class="step">
            In the <strong>Optional Translation</strong> tab you can see the other version of selected translation.
        </p>
         <p class="hint">
            <mat-icon style="vertical-align: middle;">info_outline</mat-icon>
            You should look over these tabs from time to time!
        </p>
    </div>
    <div class="images">
        <div class="image">
            <img src="/assets/images/guideline/History.PNG">
        </div>
        <div class="image">
            <img src="/assets/images/guideline/Comments.PNG">
        </div>
        <div class="image">
            <img src="/assets/images/guideline/Optional.PNG">
        </div>
    </div>
</div>