.container
    max-width: 1200px
    margin: 0 auto
    padding: 20px
    -moz-box-shadow: 0 0 3px #ccc
    -webkit-box-shadow: 0 0 3px #ccc
    box-shadow: 0 0 3px #ccc    

.item
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  background-color: white
  padding: 20px
    
.card
	-webkit-box-shadow: none
	-moz-box-shadow: none
	box-shadow: none
	
.avatar
    img
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
       border-radius: 50%
       width: 150px
       height: 150px
    button
       width: 100px
       height: 40px
       margin-top: 55px
       margin-left: 5px
.user-name
    display: inline
    font-weight: bold
    font-size: 40px
.social
    display: none
    float : right
span
    color: black
.project-list
    overflow-y: scroll
    height: 295px
.title
    margin-top: 0
::-webkit-scrollbar 
    width: 5px
::-webkit-scrollbar-track 
    background: #f1f1f1
::-webkit-scrollbar-thumb 
    background: #888
::-webkit-scrollbar-thumb:hover 
    background: #555
.project-button-wrapper
    display: flex
    justify-content: space-between
    
.crete-project-button 
    height: 40px
    background-color: #3f51b5
    color: white