.container
    max-width: 1200px
    margin: 0 auto
    padding: 20px
    -moz-box-shadow: 0 0 3px #ccc
    -webkit-box-shadow: 0 0 3px #ccc
    box-shadow: 0 0 3px #ccc    

.item
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  background-color: white
  padding: 20px
    
.card
	-webkit-box-shadow: none
	-moz-box-shadow: none
	box-shadow: none
	

.parent
  width: 150px
  margin: 20px
  height: 150px
  overflow: hidden
  position: relative
  float: left
  display: inline-block
  cursor: pointer
  border-radius: 50%

.child
  height: 100%
  width: 100%
  background-size: cover
  background-repeat: no-repeat
  -webkit-transition: all .5s
  -moz-transition: all .5s
  -o-transition: all .5s
  transition: all .5s


p
  display: none
  font-size: 12px
  color: #ffffff !important
  font-family: sans-serif
  text-align: center
  margin: auto
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  height: 50px
  cursor: pointer
  text-decoration: none;

.parent
  &:hover .child, &:focus .child
    -ms-transform: scale(1.2)
    -moz-transform: scale(1.2)
    -webkit-transform: scale(1.2)
    -o-transform: scale(1.2)
    transform: scale(1.2)
  &:hover .child:before, &:focus .child:before, &:hover p, &:focus p
    display: block

.child:before
  content: ""
  display: none
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  background-color: rgba(52, 73, 94, 0.75)

// /* Media Queries
// @media screen and (max-width: 960px)
//   .parent
//     width: 100%
//     margin: 20px 0px
//   .wrapper
//     padding: 20px 20px

.user-name
    display: inline
    font-weight: bold
    font-size: 40px
    margin-bottom: 10px;
    
.social
    display: none
    float : right
span
    color: black
.project-list
    overflow-y: scroll
    height: 295px
.title
    margin: 0
::-webkit-scrollbar 
    width: 5px
::-webkit-scrollbar-track 
    background: #f1f1f1
::-webkit-scrollbar-thumb 
    background: #888
::-webkit-scrollbar-thumb:hover 
    background: #555
.project-button-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    
.crete-project-button 
    height: 40px
    width: 40px 

.main-info-wrapper 
    display: flex
    flex-direction: column;

.project-btn-width
    width: 125px


.crete-project-button i
    padding-left: 4px;

.rating-star
    display: flex;
    align-items: center;

.project
    padding-left: 8px

.team
    padding-top: 15px
    padding-left: 8px

.team:hover
    background-color: #f5f5f5
    cursor: pointer
    
.team-card
    display: flex
    justify-content: space-between
    align-items: center
.team-leave-btn
    margin-right: 10px
.team-list
    overflow-y: scroll
    height: 295px

.projects-container
    padding: 15px
    padding-top: 5px
    padding-bottom: 0px


.project-name
    color: black

.spinner
    margin-left: 75px

.no-projects
    text-align: center
    color: gainsboro

@media screen and (min-width: 600px) and (max-width: 1115px)
    .project-button-wrapper
        display: inline-block;
        margin-left: 0px;

@media screen and (min-width: 600px) and (max-width: 1115px)
    .team-card
        display: inline-block;
        margin-left: 0px;

