<div class="container">
  <div class="item" 
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px">
  <div class="avatar" fxFlex="25%" fxLayoutAlign="center" fxLayoutAlign.xs="center">
      <img src="{{manager.avatarUrl}}" alt="avatar">
      <button mat-flat-button color="primary" (click)="editPhoto()">Edit photo</button> 
  </div>
  <div fxFlex="75%" fxLayout="column" fxLayout.sm="column" fxLayoutAlign.sm="center stretch">
  <div fxFlex="50%">
    <div class="user-name">{{manager.lastName}} {{manager.firstName}}</div>
    <a mat-button class="crete-project-button" routerLink="./settings/{{manager.id}}">
      <i class="material-icons">settings</i>
    </a>
    <mat-card-subtitle>Registration date : <span> {{manager.registrationDate}}</span>
     </mat-card-subtitle>
  </div>
  <div class="user-rating" fxFlex="50%">
      <mat-card-subtitle>Rating <span>7.8/10
          <i class="material-icons" style="color: orange ;">star</i>
         </span>
       </mat-card-subtitle>
  </div>
  </div>
  </div>
  <div class="" style="margin-top: 20px"
       fxLayout
       fxLauoutWrap
       fxLayoutAlign="center"
       fxLayout.xs="column"
       fxLayoutGap="20px">
       <div fxLayout="column" fxLayoutGap="20px" fxFlex.sm="30%" fxFlex="25%" fxLayout.xs="column" >
          <div class="item" fxFlex>
              <div>
                <div class="project-button-wrapper">
                    <h2 class="title">Projects</h2>
                    <a mat-button class="crete-project-button" routerLink="./newproject">Create new</a>
                </div>
                
                <hr>
                <div class="project-list">
                <br>
                <div *ngFor="let p of projects">
                        <mat-card-header>
                          <mat-card-title>{{p.name}}</mat-card-title>
                          <mat-card-subtitle>{{p.technology}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                        </mat-card-content>
                </div>
              </div>      
              </div>
            </div> 
         </div>
    <div fxLayout="column" fxFlex="50%" fxFlex.sm="40%" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutAlign.xs="center stretch">
   <div fxFlex>
      <mat-card>
          <h2>Personal detail</h2>
          <hr>
          <mat-card-subtitle>Birth : <span> {{manager.birthDate}}</span></mat-card-subtitle>
          <mat-card-title>Location</mat-card-title><hr>    
          <mat-card-subtitle>Country : <span> {{manager.country}}</span></mat-card-subtitle>
          <mat-card-subtitle>City : <span> {{manager.city}}</span></mat-card-subtitle>
          <mat-card-subtitle>Region : <span> {{manager.region}}</span></mat-card-subtitle>
          <mat-card-subtitle>Address : <span> {{manager.address}}</span></mat-card-subtitle>
          <mat-card-subtitle>Postal code : <span> {{manager.postalCode}}</span></mat-card-subtitle>
          <mat-card-title>Contacts</mat-card-title><hr>
          <mat-card-subtitle>Phone : <span> {{manager.phone}}</span></mat-card-subtitle>
          </mat-card>
   </div>
  </div>
  <div fxLayout="column" fxLayoutGap="20px"  fxFlex="25%" fxFlex.sm="30%" fxLayout.xs="column">
    <div class="item" fxFlex>
      <div>
        <h2 class="title"> Experience </h2><hr>
                <mat-card-header>
                  <mat-card-title>Position</mat-card-title>
                  <mat-card-subtitle>Company</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    Responsibilities
                </mat-card-content>
      </div>
    </div>
  </div>
  </div>
  </div>
