.container
    margin-bottom: 50px
    
form
    margin-top: 5px

.field-full-width
    width: 100%

.comment-card
    margin: 5px
    background-color: #f7f7f7
    margin-top: 15px
    display: grid
    grid-template-rows: 10% auto 25% auto
    padding: 0
    padding-bottom: 5px


.text
    font-size: 80%
    word-wrap: break-word
    left: 0
    grid-column-start: 1
    grid-column-end: span 2
    grid-row: 3
    margin: 5px

.date
    float: right
    font-size: 60%
    margin-right: 10px
    margin-bottom: 5px
    margin-left: auto
    grid-column: 2
    grid-row: 4
    

.author-info
    grid-row-start: 1
    grid-row-end: span 2 
    margin: 5px

.mat-button
    grid-row: 1
    grid-column: 2
    min-height: 24px
    min-width: 24px
    margin-left: auto
    margin-right: 0
    margin-top: 0
    padding: 0
   
.comment-avatar
    width: 40px
    height: auto
    margin-right: 15px
    vertical-align: middle
    border-radius: 50%
    cursor: pointer

.comment-author
    font-size: 75%
    vertical-align: middle
    outline: 0

.comment-author:hover
    cursor: pointer

.spinner
    text-align: center
    margin-top: 25px
    margin-left: 115px

textarea.ng-invalid 
    border-color: red
