<div class="container">
<form [formGroup]="commentForm" fxLayoutWrap (submit)="addComment(commentForm.value.commentBody)">
    <mat-form-field class="field-full-width">
        <textarea [(ngModel)]="body" #textArea rows="4" matInput placeholder="Enter comment" formControlName="commentBody" 
            maxlength="500"></textarea>
    </mat-form-field>
    <div class="button-container">
        <button mat-flat-button class="save-button mx-1" [disabled]="!body || body.length<1">Save</button>
    </div>
</form>
<div *ngFor="let com of comments" class="comments-container">
    <mat-card  class="comment-card">
        <div class="author-info">
            <img class="comment-avatar" (click)="onImageClick(com?.user?.avatarUrl)" src="{{com?.user?.avatarUrl}}">
            <strong class="comment-author">{{com?.user?.fullName}}</strong>
        </div>
        <div class ="text">{{com?.text}}</div>
        <div class="date"><i>{{com?.createdOn | date:'medium'}}</i></div>
    </mat-card>
</div>
<div *ngIf="!comments" class="spinner">
    <mat-spinner></mat-spinner>
</div>
</div>