.container
    margin-bottom: 50px
    width: 100%
    
form
    margin-top: 5px

.field-full-width
    width: 100%

.comments-container
    overflow-y: auto
    height: 380px
    margin-top: 10px
    display: block
    word-break: break-all
    width: 100%
    overflow-x: hidden
.comment-input
    width: 100%
.mat-form-field
    width: 95%
    margin-right: 10px   


.comment-card 
    background-color: #f7f7f7
    display: grid
    grid-template-rows: 10% auto 25% auto
    padding: 0
    padding-bottom: 5px
    width: 97%
    margin-bottom: 20px
    margin-right: 10px
    

.mat-list-item
    height: 100px
    margin: 0
    margin-bottom: 10px
    padding: 0

.mat-list-item-content
    padding: 0
    margin: 0

.text
    font-size: 80%
    word-wrap: break-word
    left: 0
    grid-column-start: 1
    grid-column-end: span 2
    grid-row: 3
    margin: 5px
    margin-left: 20px
    

.date
    float: right
    font-size: 60%
    margin-right: 10px
    margin-bottom: 5px
    margin-left: auto
    grid-column: 2
    grid-row: 4
    

.author-info
    grid-row-start: 1
    grid-row-end: span 2 
    margin: 5px
    margin-left: 20px

.mat-button
    grid-row: 1
    grid-column: 2
    min-height: 24px
    min-width: 24px
    margin-left: auto
    margin-right: 0
    margin-top: 0
    padding: 0
.edit-container
    grid-column-start: 1
    grid-column-end: span 2 
    margin-right: 20px
    margin-left: 20px
    

.edit-input
    width: 100%
    

.comment-avatar
    width: 40px
    height: auto
    margin-right: 15px
    vertical-align: middle
    border-radius: 50%
    cursor: pointer

.comment-author
    font-size: 75%
    vertical-align: middle
    outline: 0

.comment-author:hover
    cursor: pointer

.spinner
    text-align: center
    margin-top: 25px
    margin-left: 115px

textarea.ng-invalid 
    border-color: red

\:host /deep/ mention-list
    background-color: rgb(255, 255, 255)
    z-index: 100
    cursor: pointer
    -webkit-box-shadow: 2px 1px 7px -1px rgba(0,0,0,0.58)
    -moz-box-shadow: 2px 1px 7px -1px rgba(0,0,0,0.58)
    box-shadow: 2px 1px 7px -1px rgba(0,0,0,0.58)  
    margin-top: 5px
    position: absolute
    top: 22px !important
    left: 163px !important
      
       
\:host /deep/ ul 
    list-style: none
    padding: 0;
    margin: 4px
    list-style-type: none;
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif
