<div *ngIf="userProfile" class="container">
    <form [formGroup]="reviewForm" fxLayoutWrap (submit)="addReview(reviewForm.value.reviewBody, rating)">
        <div class="field-center">
            <span>Your rating: </span>
            <br/>
            <app-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
        </div>
        <mat-form-field class="field-full-width">
            <textarea #textArea rows="4" matInput placeholder="Enter review text" [formControl]="reviewForm.controls['reviewBody']" formControlName="reviewBody" 
                maxlength="500"></textarea>
        </mat-form-field>
        <div class="button-container">
            <button mat-flat-button class="save-button mx-1" [disabled]="reviewForm.invalid">Save</button>
        </div>
    </form>
    </div>