<mat-dialog-content>
	<form (submit)="onSubmit()">
		<h4>Create Glossary </h4>
		<mat-form-field>
			<input id="name" appNoWhiteSpace name="name" type="text" [(ngModel)]="glossary.name" required matInput placeholder="Name"
							#name="ngModel" autocomplete="yes" maxlength="50">
			<mat-error *ngIf="name && name.errors">
				Name is required.
			</mat-error>
		</mat-form-field>

		<mat-form-field class="mat-select-wraper">
			<mat-select  id="lang" name="lang" class="mat-select" #lang="ngModel" placeholder="Origin language"  [(ngModel)]="glossary.originLanguage" required>
					<mat-option *ngFor="let originLanguage of languages" [value]="originLanguage">
						{{originLanguage.name}}
				</mat-option>
			</mat-select>
			<mat-error *ngIf="lang && lang.errors">
				Origin language is required.
			</mat-error>
		</mat-form-field>

		<button 
			type="submit" 
			mat-raised-button color="primary"
			[disabled]="glossary.originLanguage.id === 0 || (name && name.errors)">
			Create
		</button>
	</form>
</mat-dialog-content>