
    
div.teams-container,
.assign-team-container
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap

.teams-container
  margin-top: 30px
  margin-bottom: 30px
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
  grid-gap: 25px
  justify-items: center

.manager-img-placeholder
    border-radius: 50%

.example-card  
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    margin: 0
    display: grid
    grid-template-rows: 70px auto
    padding: 0
    margin-left: 1.5%
    margin-top: 2.5%
    width: 250px

.manager-img
    height: 50px
    width: 50px
    border: 3px solid #fff
    position: absolute
    top: 10%
    left: 3%

.card-title
  font-size: 23px
  margin: 0
  margin-bottom: 10px

.card-subtitle
    padding-left: 15px
    font-size: 15px
    margin-bottom: 13px

.button-add
 position: fixed
 right: 50px
 bottom: 50px
 width: 72px
 height: 72px

.card-buttons
  margin: 0
  padding: 0
  justify-self: center
  button
    margin: 0
    margin: 10px auto
    padding: 0px 10px
    height: 35px
    justify-self: center

.mat-raised-button
  padding: 0

.title
  display: grid
  grid-template-columns: minmax(170px, 1fr)

mat-card-title
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis


mat-card-header.mat-card-header
    position: relative
    margin: 0
    padding-top: 14px
    padding-left: 60px
    -ms-grid-row: 1
    grid-row-start: 1
    -ms-grid-row-span: 1
    grid-row-end: 2
    background: linear-gradient(-135deg, #fff 0%, #DCDCDC 72%, rgba(47, 47, 166, 0.8) 65%)

mat-card-header.mat-card-header-placeholder
    background: linear-gradient(-135deg, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 72%, rgba(187,187,187,1) 65%)

.text-placeholder
    border-radius: 24px 24px 24px 24px
    background-color: #BBBBBB

.title-placeholder
    position: relative
    top: 10px
    width: 90px
    height: 15px
    
.subtitle-placeholder
    width: 70px
    height: 10px
    margin-left: 20px
    margin-top: 2px

.action-btn-container
    position: absolute
    right: 2px
    top: 0
    padding: 0
    .mat-icon-button,
    div
        display: inline-block
        width: 25px
        height: 25px
        .icon
            font-size: 20px
            vertical-align: initial

.dismiss-spinner
    display: inline-block

.team-img
  height: 60px
  width: 60px

.card-content
    box-sizing: border-box
    padding: 0 15px

.card-content-placeholder
    min-height: 150px


.img-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  margin: 0
  width: 100%
  height: 100%
  padding: 15px 0
  align-content: center
  align-items: center
  img
    border-radius: 50px
    margin-bottom: 5%

.card-content-placeholder
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.team-assign-icon
    font-size: 150px
    width: 150px
    height: 150px
    color: #BBBBBB
        

.assign-card
    cursor: pointer
    &:hover
        .team-assign-icon
            color: #C3D08B
            transition: ease-in 0.4s
        .card-content.card-content-placeholder
            transition: ease-in 0.4s
            background-color: #F7F7F7
       
.hidden
    opacity: 0

.action-btn-container div
    position: relative
    cursor: pointer
    .dismiss-spinner
        position: absolute
        top: 0
        left: 0

