<div class="container" *ngIf="userProfile">
    <div class="item" 
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="20px">
        <div class="avatar" fxFlex="25%" fxLayoutAlign="center" fxLayoutAlign.xs="center">
            <img src="{{userProfile.avatarUrl}}" alt="avatar" (click)="editPhoto()">
        </div>
        <div fxFlex="75%" fxLayout="column" fxLayout.sm="column" fxLayoutAlign.sm="center stretch">
            <div fxFlex="50%">
                <div class="user-name">
                    {{userProfile.fullName}}
                </div>
                <mat-card-subtitle>
                    Registration date : <span> {{userProfile.registrationDate | date:'shortDate'}}</span>
                </mat-card-subtitle>
            </div>
            <div class="user-rating" fxFlex="50%">
                <mat-card-subtitle>Rating
                    <span>  {{calculateAvarageRating()}}/5
                        <i class="material-icons" style="color: orange ;">star</i>
                    </span>
                </mat-card-subtitle>
            </div>
        </div>
    </div>
    
    <div class="" style="margin-top: 20px;"
        fxLayout
        fxLayoutAlign="center"
        fxLayout.xs="column"
        fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="20px" fxFlex="25%" fxFlex.sm="35%" fxLayout.xs="column" class="left-card" >   
            <div class="item" fxFlex>
                <div>
                    <h2 class="title"> Experience </h2>
                    <hr>
                        <mat-card-header>
                            <mat-card-title>Position</mat-card-title>
                            <mat-card-subtitle>Company</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            Responsibilities
                        </mat-card-content>
                </div>
            </div>
            <div class="item left-card" fxFlex>
                <div>
                          <h2 class="title">Teams</h2>
                          <hr>
                          <mat-card-subtitle *ngIf="!teams || teams.length === 0">You are not a member of any team.</mat-card-subtitle>
                          <div class="team-list">
                              <br>
                              <div *ngFor="let t of teams">
                                  <div class="team-card">
                                        <h3 class="team" mat-list-item [routerLink]="['/dashboard/teams', t.id]" [routerLinkActive]="'active'">Team {{t.name || t.id}}</h3>
                                        <button *ngIf="isOwnersProfile()" class="team-leave-btn"  mat-raised-button color="warn" type="button" (click)=leaveTeam(t)>Leave</button>
                                  </div>
                                  <hr>
                              </div>
                          </div>      
                        </div>
                    </div>
                <div class="item" fxFlex>  
            <div class="left-card">
              <h2 class="title"> Languages</h2>
              <hr>
              <div class="languages-list">
              <br>
              <div *ngFor="let l of Languages">
                      <mat-card-header>
                        <mat-card-title>{{l.Name}}</mat-card-title>
                        <mat-card-subtitle>{{l.Proficiency}}/100</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                    <mat-progress-bar mode="determinate" value="{{l.Proficiency}}"></mat-progress-bar>
                      </mat-card-content>
              </div>  
            </div>  
        </div>
    </div>

        </div>
        <div fxLayout="column" fxFlex="75%" fxFlex.sm="65%" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutAlign.xs="center stretch">
            <div fxFlex>
                    
                <mat-card>
                    <h2>Personal detail</h2>
                    <hr>
                    <mat-card-subtitle>Birth : <span> {{userProfile.birthDate | date:'shortDate'}}</span></mat-card-subtitle>
                    <mat-card-title>Location</mat-card-title><hr>    
                    <mat-card-subtitle>Country : <span> {{userProfile.country}}</span></mat-card-subtitle>
                    <mat-card-subtitle>City : <span> {{userProfile.city}}</span></mat-card-subtitle>
                    <mat-card-subtitle>Region : <span> {{userProfile.region}}</span></mat-card-subtitle>
                    <mat-card-subtitle>Address : <span> {{userProfile.address}}</span></mat-card-subtitle>
                    <mat-card-subtitle>Postal code : <span> {{userProfile.postalCode}}</span></mat-card-subtitle>
                    <mat-card-title>Contacts</mat-card-title><hr>
                    <mat-card-subtitle>Phone : <span> {{userProfile.phone}}</span></mat-card-subtitle>
                </mat-card>
                
                <mat-card *ngIf="!isOwnersProfile()">
                    <app-tab-review *ngIf="userProfile" [(userProfile)]="userProfile"></app-tab-review>
                </mat-card>
                <mat-card class="review-card" *ngIf="userProfile.ratings && userProfile.ratings.length != 0">
                        <h2>Reviews: </h2>
                        <div *ngFor="let review of userProfile.ratings">
                            <hr>
                            <br>
                            <mat-card-header>
                                <img mat-card-avatar src="{{review.createdBy.avatarUrl}}" onError="this.src='/assets/images/default-avatar.jpg'">
                            <mat-card-title>{{review.createdBy.fullName}}</mat-card-title>
                            </mat-card-header>
                            <br>
                            <mat-card-content>
                                <mat-card-subtitle>Comment : <span> "{{review.comment}}"              
                                </span>
                                </mat-card-subtitle>
                                <mat-card-subtitle>Rating :<span>{{review.rate}} / 5
                                    <i class="material-icons" style="color: orange ;">star</i>
                                </span>
                                </mat-card-subtitle>
                                <mat-card-subtitle>Created: <span>{{review.createdAt | date: 'medium'}}</span>
                                </mat-card-subtitle>
                            </mat-card-content>
                        </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<ng-snotify></ng-snotify>