.container
    max-width: 1200px
    margin: 0 auto
    padding: 20px
    background-color: white
    -moz-box-shadow: 0 0 3px #ccc
    -webkit-box-shadow: 0 0 3px #ccc
    box-shadow: 0 0 3px #ccc    

.item
    border: 1px solid red

.avatar
   border: 1px solid red
   padding: 10px
   img
       border-radius: 50%
       width: 200px
       height: 200px 
.user-name
    display: inline
    font-weight: bold
    font-size: 40px
.social
    display: inline
    float : right
.user-rating
    border: 1px solid red