<form (submit)="onResetPasswordFormSubmit(form)" class="d-flex flex-column px-3" action="javascript:void(0)" #form="ngForm">

  <h4 class="text-center">Forgot password?</h4>
  <p>Enter your email address and we will send you a link to reset your password</p>
  <mat-form-field class="my-1">
    <input id="email" name="email" type="email" [(ngModel)]="userEmail" required matInput placeholder="Your Email"
      #email="ngModel" autocomplete="on"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      maxlength="25">
    <mat-error *ngIf="email.errors && email.errors.required">
      Email is
      <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="email.errors && email.errors.pattern">
      Email is
      <strong>not valid</strong>
    </mat-error>

    <mat-error *ngIf="email.errors && email.errors.maxlength">
      Email <strong>cannot</strong> be more than 25 characters long
    </mat-error>
  </mat-form-field>
  
  <button class="simplebtn" mat-button type="submit">Reset password</button>
</form>
<ng-snotify></ng-snotify>

