<div class="container">
  <h3>You can also export all your translations</h3>
  <p>Just select language and file extension and click <strong>Download</strong></p>

  <mat-select placeholder="Language" [(ngModel)]="selectedLanguage">
    <mat-option *ngFor="let l of languages" [value]="l">
      {{l.name}}
    </mat-option>
  </mat-select>

  <mat-radio-group  class="radio-group" [(ngModel)]="selectedFormat">
    <mat-radio-button color="primary" class="radio-item" *ngFor="let format of formats" [value]="format">
      {{format}}
    </mat-radio-button>
    <p>selected format: {{selectedFormat}}</p>
    <p>selected language: {{selectedLanguage | json}}</p>
  </mat-radio-group>

  <button (click)="download()" mat-flat-button color="primary" [disabled]="!selectedFormat || !selectedLanguage">
    Download
  </button>

</div>