form
  display: flex
  flex-direction: column

.form-container 
  width: 80%
  margin: auto

h2
  text-align: center
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;

.mat-select-wraper 
  width: 40%

.field-choose-wraper 
  display: flex
  justify-content: space-between
