@import "../../../common-styles/styleForForm.sass";

.field-choose-wraper
  margin: 0 40px

.mat-select-wraper 
  width: 45%

.field-choose-wraper 
  display: flex
  justify-content: space-between

.description-text-area
  height: 54px;