<h2>Create new project</h2>
<div class="form-container">
<form [formGroup]="projectForm"   (submit)="saveChanges(projectForm.value)" > 
    <mat-form-field class="project-full-width">
        <input matInput placeholder="Enter name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="project-full-width">
        <textarea matInput placeholder="Enter description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="field-choose-wraper">
        <div></div>
        <mat-form-field class="mat-select-wraper">
            <mat-select class="mat-select" placeholder="Choose technology" formControlName="technology">
                <mat-option value="JS">JS</mat-option>
                <mat-option value = "Angular">Angular</mat-option> 
            </mat-select>
        </mat-form-field>
        
         <mat-form-field class="mat-select-wraper">
            <mat-select class="mat-select" placeholder="Choose main language" formControlName="mainLanguage">
                <mat-option *ngFor="let language of languages" [value]="language">
                    {{language.name}}
                </mat-option>
            </mat-select>
          </mat-form-field>
    </div>  

    
    <div class="saveButton">
        <button mat-button  [disabled]="projectForm.invalid">Create</button>
    </div>
    </form>
<div class="example-container">
<!-- 
        +name: string;
        +description: string;
        +technology: string;
        imageUrl: string;
        +createdOn: Date;
        +manager: Manager;
        +mainLanguage: Language;
        teams: Array<Team>;
        translations: Array<Translation>;
        projectLanguageses: Array<ProjectLanguage>;
        projectGlossaries: Array<ProjectGlossary>;
        projectTags: Array<ProjectTag>; -->