<div class="newteam-container">
  <h2 class="title">Create new Team</h2>
    
  <div *ngIf="IsLoad" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="container">
   
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
    <div class="example-container mat-elevation-z8">
    
      <mat-table [dataSource]="dataSource" matSort>
    
        
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
          <mat-cell *matCellDef="let row"> <img mat-card-avatar class="manager-img" src="{{row.userProfile.avatarUrl}}"> </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
          <mat-cell *matCellDef="let row"> 60% </mat-cell>
        </ng-container>
    
    
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userProfile.fullName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="language">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Language </mat-header-cell>
          <mat-cell *matCellDef="let row" [style.color]="row.color"> English </mat-cell>
        </ng-container>
       
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row"> 
              <button mat-raised-button color="primary" >Add to Team</button></mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <ng-snotify></ng-snotify>
</div>