<footer>
    <div>
        <mat-toolbar color="primary">
              <a >
                <span>&copy; Polyglot 2018</span>
              </a>
              <span class="example-spacer"></span>
              <div fxShow="true" fxHide.lt-md="true">
                <a mat-button routerLink="/about-us" routerLinkActive="active">About us</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
                <span class="toolbar-spacer"></span>
              </div>
        </mat-toolbar>
    </div>
</footer>
