<div style="padding-left: 20px!important;padding-right: 20px!important;width: 400px">
  <div>
    <h3>Machine translation</h3>
    <hr>
  </div>
  <div>
    <div style="padding: 0px!important;">
      <div>
        <span><img style="width:24px;height:24px;margin-right: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Google_Translate_logo.svg/2000px-Google_Translate_logo.svg.png"
            alt="Google"></span><span style="font-size: 16px;">Google Translate</span>
      </div>
      <div style="padding-top: 10px;padding-bottom: 10px; text-align: justify;">
        <span style="color:gray;">Translation: </span>
        <mat-spinner style="display: inline;margin-left: 5px;" *ngIf="isLoading" [diameter]="25"></mat-spinner>
        {{Translation}}
      </div>
      <br>
    </div>
    <button mat-raised-button (click)="onSelect()" color="primary">Accept</button>
  </div>
  <br>