.interlocutor-info
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  .last-seen
    font-size: 14px
    line-height: 14px
    
.group-info-container,
.group-info-container ul
  display: flex
  flex-direction: row

.group-info-container ul
  padding-top: 10px
  padding-left: 20px

.group-info-container li:hover
    transform: scale(1.1)

.person-button
  background: #78909C
  height: 40px
  width: 40px
  img
    position: absolute
    left: 0
    top: 0
ul, 
li
  margin: 0
  padding: 0

ul
  display: flex
  flex-direction: column
  padding-top: 15px
  list-style: none

.participants-count-container
  font-size: 14px
  .participants-count
    margin-right: 20px

.message
  position: relative
  display: flex
  flex-direction: column
  align-items: flex-end
  padding: 0 15px
  margin-top: 10px
  margin-bottom: 1px
  .person-img,
  .sender-name
    display: none
  .message-card
    border-radius: 30px 0 30px 30px
    max-width: 85%

.message-from-user
  align-self: flex-start
  align-items: flex-start
  padding-left: 60px
  .person-img
    display: block
    position: absolute
    left: 15px
    top: 0
    .person-avatar
      width: 35px
      height: 35px  
  .sender-name
    display: block
    align-self: flex-start
    font-size: 14px
    font-weight: 600
    padding: 5px 0
  .message-card
    border-radius: 0 30px 30px 30px
    background-color: #F6F7FB
    &:hover
      background-color: #D9E8FA
  .recieved-read-container
    display: none


.message-card
  position: relative
  min-width: 80px
  margin-top: 3px
  padding: 16px
  padding-bottom: 32px
  transition: all 0.5s
  background-color: #FFF

.message-card:hover
  background-color: #D9E8FA
  

.message-info-container
  display: flex
  flex-direction: row
  position: absolute
  right: 25px
  bottom: 10px

.recieved-read-container
  position: relative
  height: 12px
  .recieved-icon,
  .read-icon,
  .error-icon
    position: absolute
    left: -20px
    top: -2px
    height: 12px
    color: green
  .error-icon
    color: #E71426
  .mat-icon
    height: 12px
    font-size: 16px

  
.message-time
  font-size: 12px
  color: #AAAAAA

.messages-spinner
  align-self: center
  margin: 30px 0

.chat-messages-container
  height: 64.2vh
  overflow-y: scroll
  padding-bottom: 10px
  z-index: 10

.chat-form-field
  width: 100%
  z-index: 20

.message-actions-container
  display: flex
  flex-direction: row

.chat-input-container
  position: relative
  padding: 1% 2%
  margin-bottom: -1.34375em


.new-message-notification
  display: none
  position: absolute
  top: -70px
  left: calc(50% - 167.953px / 2)
  padding: 18px 60px
  padding-bottom: 150px
  z-index: 15
  border-radius: 7px
  font-size: 14px

.smilles-icon:hover
  color: #FFCC00

.send-icon:hover
  color: #56B68B

.interlocutor-info,
.chat-input-container
  background-color: #FFFFFF

.chat-messages-container
  background-color: #E8EDF3