ul, 
li
    margin: 0
    padding: 0

ul
    list-style: none

li
    display: flex
    flex-direction: column
    // align-self: flex-end



.message-card
  width: 80%
  margin: 1.5%
  margin-left: 30px
  background-color: #D0D0D0

.message-card:hover
    background-color: #C1C1C1


.message-card:after
	content: ''
	position: absolute
	left: 0
	top: 50%
	width: 0
	height: 0
	border: 29px solid transparent
	border-right-color: #D0D0D0
	border-left: 0
	border-bottom: 0
	margin-top: -14.5px
	margin-left: -29px