<mat-form-field class="tags">
    <mat-chip-list #chipList>
      <mat-chip (change)="updateTags()"
        *ngFor="let tag of tags;"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)"
        [style.background-color]="tag.color"
        style="color:white!important">
        {{tag.name}}
        <mat-icon style="color:white!important" matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Add tags..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          <mat-chip [style.background-color]="tag.color" style="color:white">{{tag.name}}</mat-chip >
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>