<h2>Use a glossary</h2>
<p>
	A glossary is a set of terms with translations, definitions, and notes.
</p>
<p>You may find it helpful to use a glossary if your translation contains special or uncommon terms, or is part of a set of
	documents that should have consistent terminology.</p>


<div class="no-items-div mt-1 mb-1" *ngIf="glossaries && glossaries.length === 0">
	<p>No glossaries</p>
</div>

<div class="row-container" *ngIf="glossaries && glossaries.length !== 0">
  <mat-list>
    <div class="list-item" *ngFor="let glossary of glossaries">      
        <a routerLinkActive="active" [routerLink]="['/dashboard/glossaries', glossary.id]" class="row-name">
           {{glossary.name}}
        </a>
        <a routerLinkActive="active" [routerLink]="['/dashboard/glossaries', glossary.id]" class="row-info">                
          {{glossary.originLanguage.name}}   
        </a>
      <div class="row-buttons">
        <button mat-button color="primary"  (click)='onEdit(glossary)'>Edit</button>        
      </div>
      <div class="row-buttons">
        <button mat-button color="warn"  (click)='onDelete(glossary.id)'>Delete</button>        
      </div>  
    </div>    
  </mat-list>
</div>

<button mat-fab color="primary" class="button-add" (click)='onCreate()'>
	<mat-icon  aria-label="Add button">add</mat-icon>
</button>

<ng-snotify></ng-snotify>