<h2>Use a glossary</h2>
<p>
  A glossary is a set of terms with translations, definitions, and notes.
</p>
<p>You may find it helpful to use a glossary if your translation contains special or uncommon terms, or is part of a set of
  documents that should have consistent terminology.</p>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="row-container">
  <mat-list>
    <div class="list-item" *ngFor="let glossary of glossaries">
      <div class="row-name">
          <a mat-button routerLinkActive="active" [routerLink]="['/dashboard/glossaries', glossary.id]"><h3>{{glossary.name}}</h3></a>
      </div>
      <div class="row-info">                
        <span class="row-description" >{{glossary.originLanguage.name}}</span>     
      </div>
      <div class="row-buttons">
        <button mat-button color="primary"  (click)='onEdit(glossary)'> Edit Glossary</button>        
      </div>      
    </div>    
  </mat-list>


<button mat-fab color="primary" class="button-add" (click)='onCreate()'>
  <mat-icon  aria-label="Add button">add</mat-icon>
</button>

<ng-snotify></ng-snotify>