h1
    font-size: 50px
    text-align: center

.container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    align-items: center
    justify-items: center
    margin: 0 30px
    grid-gap: 20px
    padding-bottom: 10px

.contact
    vertical-align: middle
    margin: 0 auto
    max-height: 500px

h2
    font-size: 35px
    margin-top: 0;

.description
    font-size: 20px

.adress,
.number,
.email
    font-size: 16px

.adress
    white-space: pre

.number
    a
        color: black

.email
    margin-bottom: 0;
    a
        color: black
        
.img
    display: block
    max-width: 100%
    height: auto
    border: 1px solid black
    border-radius: 10px

agm-map 
  height: 100%
  width: 100%

.map-box
    height: 57vh
    width: 98%

agm-map ::ng-deep .agm-map-container-inner
    border-radius: 10px
    border: 1px solid black