<section id="contacts-wraper" class="anim-wraper" style="opacity: 1; height:100vh;">
    <div class="help-spacer"></div>
    <article id="screen-holder">
        <div id="welc-desc-holder">
            <h1 id="welc-title">Let's get in touch</h1>
            <p id="welc-desc">Contact us to discuss your project and how we can help</p>
            <a href="tel:+14156709788" id="welc-phone">+1 415 670 9788</a>
            <a href="mailto:welcome@binary-studio.com" id="welc-email">welcome@binary-studio.com</a>
        </div>
      
    </article>

</section>