
.mat-tab-header-pagination.mat-tab-header-pagination-disabled 
  display: none !important

.mat-drawer
  height: 100vh
  max-width: 320px !important

.mat-drawer .mat-icon
  position: absolute
  

ul, 
li
    margin: 0
    padding: 0

ul
    display: flex
    flex-direction: column-reverse
    list-style: none
    

li
    display: flex
    flex-direction: column
    // align-self: flex-end

.mat-tab-body-content
  min-height: 100px

.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description 
  flex-basis: 0


.example-headers-align .mat-expansion-panel-header-description 
  justify-content: space-between
  align-items: center

.mat-expansion-panel,
.mat-accordion
  margin-top: 0

mat-panel-description.mat-expansion-panel-header-description
  justify-content: flex-end !important


.mat-expansion-panel-body
  padding: 24px 0 !important

ul,
li,
  margin: 0
  padding: 0
  list-style: none

.person-card
  max-width: 320px
  padding: 5px
  padding-top: 20px
  padding-bottom: 13px
  padding-left: 0
  cursor: pointer
  .mat-card-header
   // position: relative
    display: flex
    flex-direction: row
    justify-content: flex-start
    padding-right: 25px
    //padding: 5% 0


.dialog-card:hover
    background-color: #E8EDF3
    .online-status-text
      opacity: 1

.person-card-text
    padding: 10px 0
    padding-left: 10px
    max-width: 60%

.person-name,
.person-message-prev
    font-size: 12px
    font-weight: 600
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

.person-name
    margin-bottom: 5px

.person-message-prev
    font-weight: 500
    
.person-img
  position: relative
  display: flex
  align-items: center
  .person-avatar
    width: 50px
    height: 50px



.mat-card
//  display: flex
//  flex-direction: row
//  justify-content: space-between
  box-sizing: border-box
  width: 100%

.person-options-container
  display: flex
  flex-direction: column
  justify-content: center
 
.online-status-container
  position: absolute
  right: -3px
  bottom: -5px
  .online-status-icon
    height: 18px
    width: 18px
    color: #4BCB1C
    background: #FAFAFA
    font-size: 18px
    border-radius: 50%
    box-shadow: 2px 3px 8px -2px rgba(0,0,0,0.75)
    
.mat-tab-header
  width: 300px

.mat-expansion-panel-content
  background: red

.group-card
    margin-left: -10px
    margin-right: -10px
    margin-top: 10px

.options-button-container
  flex-grow: 1
  .person-card-options
    float: right
    height: 100%
    padding: 0
    width: 25px
    min-width: 25px
    &:hover
      background: #EBF1F7
