<div class="contacts-container">
    

    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon [matBadgeHidden]="isOnPersonsPage || unreadMessagesTotal['persons'] < 1" [matBadge]="unreadMessagesTotal['persons']" matBadgeColor="warn" matBadgeSize="medium">person</mat-icon>
            </ng-template>
            <ng-template matTabContent>

                <ul>

                    <li *ngFor="let d of dialogs" (click)="selectDialog(d)">
                        <mat-card class="person-card">
                            <mat-card-header>
                                <a class="person-img" [matBadgeHidden]="d.unreadMessagesCount < 1" [matBadge]="d.unreadMessagesCount" matBadgeColor="warn" matBadgeSize="medium">
                                    <img class="person-avatar" mat-card-avatar src="{{d?.participants[0].avatarUrl}}">
                                </a>
                                <div class="person-card-text">
                                    <div class="person-name">{{d?.participants[0].fullName}}</div>
                                    <div class="person-message-prev">{{d?.lastMessageText}}</div>
                                </div>
                                <div class="online-status-container">
                                    <span [hidden]="d?.participants[0].isOnline" class="online-status-text">last seen {{d?.participants[0].lastSeen | date: 'medium'}}</span>
                                    <span [hidden]="!d?.participants[0].isOnline" class="online-status-text">online</span>
                                    <mat-icon class="online-status-icon" [style.color]="d?.participants[0].isOnline ? 'green' : '#F1F1F1'">brightness_1</mat-icon>
                                </div>
                            </mat-card-header>
                            <!--    <div class="person-options-container">
                                    <mat-icon>more_vert</mat-icon>
                            </div>
                        -->
                        </mat-card>
                    </li>

                </ul>

            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon [matBadgeHidden]="!isOnPersonsPage || unreadMessagesTotal['groups'] < 1" [matBadge]="unreadMessagesTotal['groups']" matBadgeColor="warn" matBadgeSize="medium">group</mat-icon>
            </ng-template>
            <ng-template matTabContent>

                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [disabled]="projects.lenght < 1" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Projects
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon matBadge="6" matBadgeColor="warn" [matBadgeHidden]="true" matBadgeSize="medium">business_center</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <ul>
                                <li *ngFor="let p of projects">
                                    <mat-card (click)="selectDialog(p)">
                                        <mat-card-header>
                                            <mat-card-title>Project #{{p?.identifier}}</mat-card-title>
                                            <mat-card-subtitle></mat-card-subtitle>
                                        </mat-card-header>

                                    </mat-card>
                                </li>
                            </ul>
                        </ng-template>

                        <mat-action-row>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [disabled]="teams.lenght < 1" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Teams
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon matBadge="1" matBadgeColor="warn" [matBadgeHidden]="true" matBadgeSize="medium">group</mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <ul>
                                <li *ngFor="let t of teams">
                                    <mat-card (click)="selectDialog(t)">
                                        <mat-card-header>
                                            <mat-card-title>Team {{t?.name}}</mat-card-title>
                                            <mat-card-subtitle></mat-card-subtitle>
                                        </mat-card-header>
                                    </mat-card>
                                </li>
                            </ul>
                        </ng-template>

                        <mat-action-row>
                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                </mat-accordion>

            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>
