<div class="padding bg-image" style="height:calc(100vh - 130px);"
fxLayout="column" fxLayoutAlign="center stretch">
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile >
            <h1 class="header">Translate Language Files Online in Minutes</h1>
        </mat-grid-tile>
        <mat-grid-tile >
            <h2 class="sub-header">Helping Global Teams Translate Smarter, Faster and Safer</h2>
        </mat-grid-tile>
        <mat-grid-tile >
            <button class="btn-singup" mat-flat-button color="primary" (click)="onSignUpClick()">sign up for free</button> 
        </mat-grid-tile>
        <mat-grid-tile >
            <button class="btn-demo" mat-flat-button color="accent" (click)="onLoginClick()">or login if you already have an account</button>
        </mat-grid-tile> 
    </mat-grid-list>
</div>
      

