.padding
 padding-top: 150px
 padding-bottom: 150px
 
.header
 background-color: #d3d3d3
 border-radius: 7px
 padding: 10px
 color: #ffffff
 text-align: center

.sub-header
 color: #505356
 text-align: center

.btn-singup
 padding: 10px 32px
 text-align: center
 text-decoration: none
 display: inline-block
 font-size: 20px
 border-radius: 7px
 background-color: #4177f4

.btn-demo
 padding: 0px 15px
 text-align: center
 text-decoration: none
 display: inline-block
 font-size: 16px
 border-radius: 7px
 background-color: #faff00
 color: #8c8c7f

.bg-image
 background-image: url('/assets/images/landing.jpg')
 background-position: center
 background-repeat: no-repeat
 background-size: cover

@media only screen and (max-width: 767px)
 h1
  font-size: 1em

@media only screen and (max-width: 767px)
 h2
  font-size: 1em

