.header
 background-color: green
 margin: 50px

.tile-style
 padding: 50px

.item-list
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

.tile
 display: flex;
 align-items: center;
 justify-content: center;
