<div class="margin">
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile >
            <h1 class="header">Translate Language Files Online in Minutes</h1>
        </mat-grid-tile>
        <mat-grid-tile >
            <h2 class="sub-header">Helping Global Teams Translate Smater, Faster and Safer</h2>
        </mat-grid-tile>
        <mat-grid-tile >
            <button class="btn-singup" mat-flat-button color="primary">sign up for free</button> 
        </mat-grid-tile>
        <mat-grid-tile >
            <button class="btn-demo" mat-flat-button color="accent">or request a demo</button>
        </mat-grid-tile> 
    </mat-grid-list>
</div>
      