
<div class="container">
    <h1>About us</h1>
    
    <p><strong>Polyglot</strong> is the simplest way to localize your website or mobile application. We make teams around the world
        more productive by making software localization faster, easier and more transparent.</p>
    
    <h2>Meet our great team!</h2>
    
    <h3>Coaches</h3>

    <div class="coach">
        <div>    
            <img  height="120" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Potapenko</span>
        </div>
        <div>    
            <img  height="120" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Myroslav Dmytrus</span>
        </div>
        <div>    
            <img  height="120" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>        
    </div>   

    <h3>Students</h3>

    <div class="students">
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita sdfsdf Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
        <div>    
            <img  height="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>
    </div>

</div>
