
<div class="container">
    <h1>About us</h1>
    
    <p><strong>Polyglot</strong> is the simplest way to localize your website or mobile application. We make teams around the world
        more productive by making software localization faster, easier and more transparent.
        Our dashboard offers a real-time status of your whole process at a glance. Access missing translations and translations to proofread with a few clicks.
        Just sign up for free and start working with <strong>Polyglot</strong>.
    </p>
    
    <h2>Meet our great team!</h2>
    
    <h3>Coaches</h3>

    <div class="coach">
        <div>    
            <img  height="120" width="120" src="/assets/images/team/nikitaP.png" alt="U">
            <span>Nikita Potapenko</span>
        </div>
        <div>    
            <img  height="120" width="120" src="/assets//images//team/myroslav.png" alt="U">
            <span>Myroslav Dmytrus</span>
        </div>
        <div>    
            <img  height="120" width="120" src="/assets/images/team/nikitaK.png" alt="U">
            <span>Nikita Krasnov</span>
        </div>        
    </div>   

    <h3>Students</h3>

    <div class="students">
        <div>    
            <img  height="100" width="100" src="/assets/images/team/bohdan.png" alt="U">
            <span>Bohdan Konorin</span>
        </div>
        <div>    
            <img  height="100" width="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Ihor Zhvanko</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/ivan.png" alt="U">
            <span>Ivan Lysakov</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/kateryna.png" alt="U">
            <span>Kateryna Obrizan</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/max.png" alt="U">
            <span>Max Kolpak</span>
        </div>
        <div>    
            <img  height="100" width="100" src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/512/user-male-icon.png" alt="U">
            <span>Mikhail Zhukov</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/natalia.png" alt="U">
            <span>Natalia Chernomortseva</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/nikolay.png" alt="U">
            <span>Nikolay Kobets</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/oleksandra.png" alt="U">
            <span>Oleksandra Fedotova</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/nata.png" alt="U">
            <span>Natalia Proskurnicha</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/volodymyr.png" alt="U">
            <span>Volodymyr Guziy</span>
        </div>
        <div>    
            <img  height="100" width="100" src="/assets/images/team/dmytro.png" alt="U">
            <span>Dmytro Smolts</span>
        </div>
    </div>

</div>
<ng-snotify></ng-snotify>