<section id="about-company-wraper" class="anim-wraper" style="opacity: 1;">
    <div id="help-spacer" class="help-spacer"></div>
    <h1 class="H1 padded-section">About us</h1>
    <article class="info-title-holder padded-section">
        <article class="info-title row">
     
            <p class="info col-md-7 col-xs-8">
                Binary Studio is a boutique software development agency with more than ten years of experience. We differentiate ourselves
                by building strategic long-term partnerships with our clients and providing exceptional quality services
                at all stages of the application development lifecycle.
            </p>
        </article>
    </article>
    <article id="office-img-holder" class="row padded-section between-md">
        <img src="//d3ot0t2g92r1ra.cloudfront.net/img/about_company/lviv.jpg" alt="Lviv" class="col-md-5 aos-init" data-aos="fade-right"
            data-aos-delay="400">
        <div class="col-xs-12 col-sm-6 clock-item aos-init" data-aos="fade-left" data-aos-delay="400">
            <div class="row">
                <a href="https://goo.gl/maps/YLYypDRo3or" target="_blank" class="term-more">
                    <span class="term-more-title">Show on the map</span>
                    <img class="term-more-icon" src="//d3ot0t2g92r1ra.cloudfront.net/img/small-arrow-copy.svg">
                </a>
            </div>
        </div>
    </article>

</section>