<button mat-icon-button [mdePopoverTriggerFor]="notifPopover" mdePopoverTriggerOn="click" *ngIf="!userNotifications || userNotifications.length == 0">
    <mat-icon class="bell" aria-label="Notification icon">
        notifications_none
    </mat-icon>
</button>
<button mat-icon-button [mdePopoverTriggerFor]="notifPopover" mdePopoverTriggerOn="click" *ngIf="userNotifications && userNotifications.length > 0">
    <mat-icon class="bell" aria-label="Notification icon" [matBadge]="userNotifications.length" matBadgePosition="above after"
        matBadgeColor="warn">
        notifications
    </mat-icon>
</button>
<mde-popover #notifPopover="mdePopover" [mdePopoverOverlapTrigger]="false" mdePopoverArrowColor="#fff" [mdePopoverArrowOffsetX]="21">
    <mat-card class="card" *ngFor="let notification of userNotifications">
        <mat-card-header>
            <mat-card-title class="card-main">
                <div>
                    <div>From:
                        <strong>{{notification.sender.fullName}}</strong>
                    </div>
                    <p>
                        <i>{{notification.message}}</i>
                    </p>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="card-navigation">
            <a *ngFor="let notificationOption of notification.options" mat-button color="primary" class="card-navigation-button" (click)="buttonClick(notification, notificationOption.optionDefinition)">
                {{getStringEnum(notificationOption.optionDefinition)}}
            </a>
        </mat-card-content>
    </mat-card>
</mde-popover>