

.team-details_menu
  a
    margin-right: 8px;

.team-details_search
  margin-right: 15px;


.team-details_menu,
.team-datails_table,
.team-details_filter,
.mat-paginator
    width: 100%;
    min-width: 625px;

.team-datails_table
    overflow: auto;
    
.team-details_menu
  display: flex;
  justify-content: flex-start;
  align-items: center;

.button-row
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;


.mat-header-cell
  text-align: center;

.mat-cell.cdk-column-languages.mat-column-languages,
.mat-cell.cdk-column-keys.mat-column-keys
  white-space: nowrap;

.right-checkbox
  margin-right: 15px

.center
  text-align: center;

.checkbox-right
  margin-right: 25px;

.top-button
  margin-left: 15px;
  margin-bottom: 10px;

#first-icon
  margin-right: 25px;

#right-checkboxes
  margin-left: 130px;
