<div class="container" *ngIf="allActivities" fxLayout="row">

    <div fxFlex="30%">
        <h4>From:</h4>
        <input matInput class="date-input" (dateChange)="onFilterChange()" [(ngModel)]="from" [matDatepicker]="pickerFrom" placeholder="From">
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <mat-datepicker #pickerFrom></mat-datepicker>

        <h4>To:</h4>
        <input matInput class="date-input" (dateChange)="onFilterChange()" [(ngModel)]="to" [matDatepicker]="pickerTo" placeholder="To">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
    </div> 
    <div fxFlex="70%" class="activities">
        <div *ngFor="let action of filteredActivities" class="comments-container">
            <mat-card  class="comment-card">
                <div class="author-info">
                    <img class="comment-avatar" (click)="onImageClick(com?.user?.avatarUrl)" src="{{com?.user?.avatarUrl}}">
                </div>
                <div class ="text">{{action.message}}</div>
                <div class="date"><i>{{action.dateTime | date:'short'}}</i></div>
            </mat-card>
        </div>
    </div>
</div>