.date-input
    margin-top: 30px

h4
    margin-top: 50px

.container
    margin-left: 50px

.no-activities
  font-size: 70px
  text-align: center
  align-items: center
  color: #f3f3f3

.activity-card
    background-color: #f7f7f7
    margin: 15px
    margin-left: auto
    margin-right: auto
    width: 68%


    