
<mat-list role="list" style="width: 60%;" class="px-3">
  <mat-list-item role="listitem">English</mat-list-item>
  <mat-list-item role="listitem">French</mat-list-item>

</mat-list>

<mat-divider [vertical]="true" style="margin-right: 20px;"></mat-divider>

<mat-tab-group style="width: 40%;">
  <mat-tab label="History"> History </mat-tab>
  <mat-tab label="Details"> Details </mat-tab>
  <mat-tab label="Comments"> Comments </mat-tab>
  <mat-tab label="Optional Translation"> Optional Translation </mat-tab>
  <mat-tab label="Mashine Translation"> Mashine Translation </mat-tab>
</mat-tab-group>