
<mat-list role="list" style="width: 60%;"с>
  <mat-list-item role="listitem" style="margin-bottom: 20px;">
    <mat-card style="width: 100%;padding: 0;height: 80px;">
        <button style="float:right; margin: 5px; ">Update</button>
        <div style="display: inline-block;background-color:gainsboro;height: 100%;width: 25%;margin-right: 5%">
            English
        </div>
        <div style="display: inline-block;height: 100%;max-width: 70%;">
            Translation text
        </div>
    </mat-card>
  </mat-list-item>
</mat-list>

<mat-divider [vertical]="true" style="margin-right: 20px;"></mat-divider>

<mat-tab-group style="width: 40%;">
  <mat-tab label="History"> History </mat-tab>
  <mat-tab label="Details"> Details </mat-tab>
  <mat-tab label="Comments"> Comments </mat-tab>
  <mat-tab label="Optional Translation"> Optional Translation </mat-tab>
  <mat-tab label="Mashine Translation"> Mashine Translation </mat-tab>
</mat-tab-group>