\:host
  display: flex

// .translations-list
//   width: 100%

.material-icons 
  font-size: 12px

.key-details
  overflow: auto
  //height: 100%

.translations-details
  overflow: auto
  //height: 100%