<mat-card class="key-details my-1 px-0 grow-1 mr-0 ml-1">
	<div *ngIf="keyDetails.translations">
		<div *ngFor="let t of keyDetails.translations; let i = index;" class="comments-container">
				<mat-accordion class="example-headers-align">
						<mat-expansion-panel [expanded]="expandedArray[i]" (opened)="setStep(i)" hideToggle>
						  <mat-expansion-panel-header class="header-translation" *ngIf = "!expandedArray[i]" >
								  <mat-panel-title>
									  <p>{{t.language}}</p>
								  </mat-panel-title>
								  <mat-panel-description>
								  <p >{{t.translationValue}}</p>
								  </mat-panel-description>
							</mat-expansion-panel-header>
					  
						   <div >
								<mat-form-field class="textarea-translation">
										<mat-label class="language-label">{{t.language}}</mat-label>
										<textarea matInput
												[(ngModel)]="t.translationValue"
												  cdkTextareaAutosize
													  cdkAutosizeMinRows="2"
													  cdkAutosizeMaxRows="10"></textarea>
								</mat-form-field>
								<div class="button-translation">
									<button mat-raised-button color="primary"  (click)="onSave()">Save</button>
									<button mat-raised-button color="warn"  (click)="onClose(i)">Close</button>
								</div>
								
						  </div>
						</mat-expansion-panel>
				</mat-accordion>
		</div>
	</div>
</mat-card>

<mat-card class="my-1 ml-1 px-1 grow-1 translations-details">
	<mat-tab-group flex>
		<mat-tab label="Detail">
			<ng-template mat-tab-label>
				<mat-icon class="icon-size" matTooltip="Detail" matTooltipPosition="above">details</mat-icon>
			</ng-template>
			<app-tab-detail [(keyDetails)]="keyDetails"></app-tab-detail>
		</mat-tab>
		<mat-tab label="History">
			<ng-template mat-tab-label>
				<mat-icon class="icon-size" matTooltip="History" matTooltipPosition="above">history</mat-icon>
			</ng-template>
			<app-tab-history></app-tab-history>
			<!-- <app-tab-history [(keyDetails)]="keyDetails"></app-tab-history> -->
		</mat-tab>
		<mat-tab label="Comment">
			<ng-template mat-tab-label>
				<mat-icon class="icon-size" matTooltip="Comment" matTooltipPosition="above">comment</mat-icon>
			</ng-template>
			<app-tab-comments></app-tab-comments>
			<!-- <app-tab-comments *ngIf="keyDetails" [(keyDetails)] = "keyDetails"></app-tab-comments> -->

		</mat-tab>
		<mat-tab label="O_Translation">
			<ng-template mat-tab-label>
				<mat-icon class="icon-size" matTooltip="Optional Translation" matTooltipPosition="above">translate</mat-icon>
			</ng-template>
		</mat-tab>
		<mat-tab label="M_Translation">
			<ng-template mat-tab-label>
				<mat-icon class="icon-size" matTooltip="Machine Translation" matTooltipPosition="above">g_translate</mat-icon>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</mat-card>