\:host
  display: flex

// .translations-list
//   width: 100%

.material-icons 
  font-size: 12px

.key-details
  overflow: auto
  width: 70%

.translations-details
  overflow: auto
  width: 35%

.translations-list
  width: 100%

.translation-text
  &[disabled]
    color: black

/deep/.mat-tab-label, /deep/.mat-tab-label-active
 min-width: 0!important
 padding: 3px!important
 margin: 3px!important
