<form class="main-form">
    <div class="note">Available translators</div>
    <mat-form-field class="example-chip-list input-wrapper" (click)="$event.stopPropagation();">
            <mat-chip-list #chipList>
                <mat-chip
                *ngFor="let translator of translators"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(translator)">
                {{translator}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input
                placeholder="New translator..."
                #translatorInput
                [formControl]="translatorCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let translator of filteredtranslators | async" [value]="translator" class="option-wrapper">
                    <div class="wrapper-name-ava">
                        <img src="{{translator.avatarUrl}}" alt="ava" class="avatar">
                        <div>{{translator.fullName}}</div>
                    </div>
                </mat-option>
            </mat-autocomplete>
    </mat-form-field>
    <div class="button-wraper">
        <button mat-raised-button color="primary" (click) ="onSave()">Save</button>
        <button mat-raised-button color="warn" (click) ="onClose()">Close</button>
    </div>
</form>
