.mat-dialog-content
  height: 45vh
.mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option
  height: 70px


.manager-img
    height: 50px
    width: 50px
    border-radius: 50px
    margin: 0
    margin-right: 20px
   
.mat-selection-list .mat-list-text
  display: flex
  flex-direction: row
.card-title
  margin: 0
.card-subtitle
  font-size: 12px
  margin: 0

.button-add
 position: fixed
 right: 50px
 bottom: 50px
 width: 72px
 height: 72px


.title
  display: grid
  grid-template-columns: minmax(170px, 1fr)
  width: 150px
  margin-right: 40px
  margin-left: 20px


  

.item-container
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start 
  margin: 0
  width: 100%
  padding: 0
  align-content: center
  align-items: center
  img
    border-radius: 50px
    margin-right: 5px
    

    
.team-assign-icon
    font-size: 150px
    width: 150px
    height: 150px
    color: #BBBBBB
