.reports-container
  display: grid
  width: 1000px
  margin-left: auto
  margin-right: auto
  grid-template-columns: 20px auto auto 20px
  grid-template-rows: 500px 500px
  margin-top: 20px

.mat-card
  width: 400px
  height: 400px
  margin: 10px

.bar
  grid-column: 2 
.pie
  grid-column: 3  

.advanced-pie
  grid-row: 2
  grid-column: 2 / span 3
  width: 800px
  margin-left: auto
  margin-right: auto
  


 
  

