<form (submit)="onLoginFormSubmit(user, form)" class="d-flex flex-column px-3" action="javascript:void(0)" #form="ngForm">

  <h4 class="text-center">Login</h4>
  <mat-form-field class="my-1">
    <input id="email" name="email" type="email" [(ngModel)]="user.email" required matInput placeholder="Your Email"
      #email="ngModel" autocomplete="on"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      maxlength="50">
    <mat-error *ngIf="email.errors && email.errors.required">
      Email is
      <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="email.errors && email.errors.pattern">
      Email is
      <strong>not valid</strong>
    </mat-error>

    <mat-error *ngIf="email.errors && email.errors.maxlength">
      Email <strong>cannot</strong> be more than 25 characters long
    </mat-error>
  </mat-form-field>

  <mat-form-field class="my-1">
    <input id="password" name="password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" required matInput placeholder="Your Password"
      #password="ngModel"
      maxlength="30">
    <mat-icon class="finger" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.errors && password.errors.required">
      Password is
      <strong>required</strong>
    </mat-error>

    <mat-error *ngIf="password.errors && password.errors.maxlength">
      Password <strong>cannot</strong> be more than 30 characters long
    </mat-error>
  </mat-form-field>
<div class="forgot-box">
    <a  class="forgot-password" (click)="onForgotPasswordClick()"  color="primary">Forgot password?</a>
</div>
  
  <br>

  <mat-error *ngIf="firebaseError" style="align-self: center; margin-bottom: 20px;">
    {{firebaseError}}
  </mat-error>

  
  <button class="simplebtn" mat-button type="submit">Log In</button>

  <button class="socialbtn" mat-button type="button" (click)="onGoogleClick()"><img class="btnlogo" src="/assets/images/googlelogo.png" alt="G" height="30">Log In using Google</button>
  <button class="socialbtn" mat-button type="button" (click)="onFacebookClick()"><img class="btnlogo" src="/assets/images/facebooklogo.png" alt="F" height="30">Log In using Facebook</button>
</form>
<ng-snotify></ng-snotify>