<div style="padding: 20px;">
  <div>
    <h3>Machine translation</h3> 
    <hr>
  <span style="color:gray;margin-bottom: 10px;">Current text : </span>{{data.text}} <br>
  <span style="color:gray;margin-bottom: 10px;">Translated to : </span>{{data.languageName}} <br>
  <span style="color:gray;margin-bottom: 10px;">Code : </span>{{data.target}}
</div>
    <h4 style="margin-bottom: 0px">Providers:</h4>
    <mat-nav-list>
    <mat-list-item (click)="onSelect()" style="padding-left: 0px!important">
    <div mat-line>
    <span style="font-weight: bold">Google Translate</span>
  </div>
      <div mat-line style="padding-top: 10px;padding-bottom: 10px;">
         Translation : <mat-spinner *ngIf="isLoading" style="display: inline;margin-left:10px" [diameter]="25"></mat-spinner>{{Translation}}
        </div>
        <br>
        </mat-list-item>
    </mat-nav-list>
  <br>
</div>
