<div class="content">
	
	<h2>Project Name</h2>


	<mat-tab-group>
		<mat-tab label="Overview">
			<h1>Overview content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Team">
			<h1>Team content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Reports">
			<h1>Reports content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Activities">
			<h1>Some more tab content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Languagues">
			<h1>Languagues content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Api">
			<h1>Api content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="General">
			<h1>General content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Uploads">			
			<app-upload-file></app-upload-file>		
		</mat-tab>

	</mat-tab-group>

</div>