<div class="content" *ngIf="project">
	
	<div class="d-flex align-items-center py-0 px-1 justify-space-between">
		<h2>{{project.name}}</h2>
		<button class="mx-1" mat-flat-button color="primary" type="button" [routerLink]="['/workspace', project.id]">Workspace</button>
	
	</div>

	<mat-tab-group>
		<mat-tab label="Overview">
			<div *ngIf="project" class="overview-content">
		    <img class="project-image" src="{{project.imageUrl}}">
			<h2 *ngIf="project.description !== null && project.description!=='' ">Description:</h2>
			<p>{{project.description}}</p>
			<h2>Technology:</h2>
			<p>{{project.technology}}</p>
			<h2>Main Languague:</h2>
			<p>{{project.mainLanguage.name}}</p>
			

			</div>
		</mat-tab>

		<mat-tab label="Team">
			<app-project-team [projectId] = "project.id"></app-project-team>
		</mat-tab>

		<mat-tab label="Reports">
			<app-reports></app-reports>
		</mat-tab>

		<mat-tab label="Activities">
			<h1>Some more tab content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Languagues">
			<app-languages [projectId] = "project.id"></app-languages>
		</mat-tab>

		<mat-tab label="Api">
			<h1>Api content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id ante pellentesque, dictum erat in, vehicula tortor. Phasellus velit odio, semper sit amet nibh id, porta fermentum neque. Nam vel dapibus magna. Cras ac posuere lectus, sed efficitur lacus. Duis porta scelerisque sapien vel facilisis. Nunc at convallis nisi, ut mollis velit. Curabitur nec mattis urna. Nunc massa nisi, posuere sed massa nec, volutpat tincidunt mi. Mauris tincidunt nisi sed ipsum ultricies, non faucibus ante tempus. Mauris non libero ut mi consequat tempus eu ac enim. Fusce bibendum sodales ullamcorper. Mauris molestie dui non neque sagittis convallis. Sed a ultrices nunc. In a elit eros. Phasellus quis mattis augue. Aenean eu metus sollicitudin, varius lacus quis, imperdiet metus.</p>
		</mat-tab>

		<mat-tab label="Settings">
			<app-project-edit [project]="project" ></app-project-edit>
		</mat-tab>

		<mat-tab label="Uploads">			
			<app-upload-file></app-upload-file>		
		</mat-tab>

	</mat-tab-group>
	<ng-snotify></ng-snotify>
</div>