<h2>Edit profile</h2>
<form [formGroup]="profileForm" fxLayout="row" fxLayoutWrap (submit)="saveChanges(profileForm.value)">
    <div class="form-container">
       
        <div class="photo">
            <div class="parent" (click)="editPhoto()">
                <div class="child bg-five" [ngStyle]="{'background-image': 'url(' + manager.avatarUrl + ')'}">
                    <p>Click to change</p>
                </div>
            </div>
        </div>

        <div class="line-block margin-top-20px">
            <mat-form-field class="name-field form-input float-left">
                <input appNoWhiteSpace matInput placeholder="Enter first name" formControlName="firstName" required>
                <mat-error class="errors" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors && firstName.errors.required">
                        First name is required.
                    </div>
                    <div *ngIf="firstName.errors && firstName.errors?.WhiteSpace">
                        Only spaces are not allowed
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="name-field form-input left-margin-3">
                <input appNoWhiteSpace matInput placeholder="Enter last name" formControlName="lastName" required>
                <mat-error class="errors" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors && lastName.errors.required">
                        Last name is required.
                    </div>
                    <div *ngIf="lastName.errors && lastName.errors?.WhiteSpace">
                        Only spaces are not allowed
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-input float-left">

                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate" placeholder="Date of birth">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-input left-margin-3">
                <input matInput placeholder="Phone" formControlName="phone" pattern="\+?[0-9-]*">
                <mat-error *ngIf="phone.errors && phone.errors.pattern">
                    Phone is
                    <strong>not valid</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-input float-left">
                <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>

            <mat-form-field class="form-input left-margin-3">
                <input matInput placeholder="Region" formControlName="region">
            </mat-form-field>

            <mat-form-field class="form-input float-left">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-form-field class="form-input left-margin-3">
                <input matInput placeholder="Postal code" formControlName="postalCode">
            </mat-form-field>
        </div>


        <div class="line-block">
            <mat-form-field class="address-field float-left">
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>

            <div class="button-container">
                <button mat-flat-button class="save-button mx-1" [disabled]="profileForm.invalid">Save</button>
            </div>
        </div>


    </div>
</form>
<ng-snotify></ng-snotify>