@import "../../../common-styles/styleForForm.sass";

.form-container
    width: 60%
    margin-top: 20px
    text-align: center
    padding: 3%

img:hover
    cursor: pointer

.name-field
    width: 100%

mat-form-field
    width: 35%
    margin: 15px 0

.inline
    display: inline-block

.button-container
    text-align: center

img
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-radius: 50%
    width: 150px
    height: auto

button
    width: 100px
    height: 40px
    margin-top: 15px

.float-left
    float: left

.line-block
    width: 100%
    display: block

.form-input
    width: 48%

.margin-top-20px
    margin-top: 20px

.address-field
    width: 100%

.left-margin-3
    margin-left: 3%

@media only screen and (max-width: 768px) 
    .form-input
        width: 100%

    .left-margin-3
        margin-left: 0%
    



