@import "../../../common-styles/styleForForm.sass";

.form-container
    width: 60%
    margin-top: 20px
    text-align: center

img:hover
    cursor: pointer

.name-field
    width: 43%


mat-form-field
    width: 35%
    margin: 15px

.post-code-field
    width: 15%

.button-container
    text-align: center


img
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
    border-radius: 50%
    width: 150px
    float: left
    height: auto
    margin: 10px 40px 10px 40px

button
    width: 100px
    height: 40px
    margin-top: 15px




