<mat-divider class="footer-divider"></mat-divider>
<mat-toolbar class="footer">
    <span class='spacer'></span>
    <h2>© Polyglot App 2018.</h2>

    <a mat-button *ngIf="isLoggedIn()" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/about-us" routerLinkActive="active">About us</a>    
    <a mat-button routerLink="/contact" routerLinkActive="active">Contacts</a>    
    <a mat-button *ngIf="isLoggedIn()" routerLinkActive="active" routerLink="/guideline">Guideline</a>
    <a mat-button *ngIf="isLoggedIn()" routerLinkActive="active" routerLink="/profile/settings">Settings</a>

    <span class='spacer'></span>
</mat-toolbar>