<mat-divider class="footer-divider"></mat-divider>
<mat-toolbar class="footer">
  <span class='spacer'></span>
  <h2>© Polyglot App 2018.</h2>

  <a mat-button *ngIf="isLoggedIn()" routerLink="/about-us">About us</a>
  <a mat-button *ngIf="isLoggedIn()" routerLink="/dashboard">Dashboard</a>
  <a mat-button *ngIf="isLoggedIn()" routerLink="/contact">Contacts</a>  
  <a mat-button *ngIf="isLoggedIn()">Settings</a>  
  <a mat-button>Help & Feedback</a>

  <span class='spacer'></span>
</mat-toolbar>