<h2 mat-dialog-title>Choose project languages:</h2>
<mat-dialog-content>
    <ul>
        <li *ngFor="let l of langs">
            <mat-card>
                <mat-checkbox (change)="change($event, l)">
                    {{l.name}}
                </mat-checkbox>
            </mat-card>
            
        </li>
    </ul>
</mat-dialog-content>
  <mat-dialog-actions class="p-1 mt-2 buttons">
      <button  mat-raised-button color="primary" (click)="submit()" mat-button>Ok</button>
      <button  mat-raised-button color="warn" [mat-dialog-close]="true">Cancel</button>
  </mat-dialog-actions>