<header class="project-header d-flex align-items-center py-0">
    <div class="d-flex flex-column grow-1 px-2 secondary">
        <h2>{{project?.name}}</h2>
    </div>
</header>
<mat-sidenav-container>
<section class="project-main">
    <mat-card class="d-flex align-items-center py-0 px-1 justify-space-between search-bar">
        <div>
            <mat-form-field class="search-form-field" [floatLabel]="'never'">
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                    <mat-icon>search</mat-icon>
                </button>
                <input matInput type="text" placeholder="Search" [(ngModel)]="searchQuery">
                <button *ngIf="searchQuery.length!=0" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button style="margin-left:10px"mat-flat-button color="primary" [matMenuTriggerFor]="filters">Advansed search</button>
            <mat-menu #filters="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="no-menu-scroll">
                <div style="padding: 20px!important;padding-top:0px!important;"> 
                  <div>
                    <h4>Filters</h4>
                    <hr>
                    <div class="fiter-content">
                      <div (click)="$event.stopPropagation();" *ngFor="let opt of filterOptions;let i = index">
                        <mat-checkbox (indeterminateChange)="test($event)" (change)="test($event,i)">{{opt}}</mat-checkbox>
                      </div>
                    </div>
                    </div>
                  <div>
                     <h4>Tags</h4>
                     <hr>
                     <div class="fiter-content">
                      <div *ngFor="let opt of projectTags" (click)="$event.stopPropagation();">
                        <mat-checkbox (click)="test($event)">{{opt}}</mat-checkbox>
                      </div>
                      <div *ngIf="projectTags.length === 0">
                        No strings with tags
                      </div>
                    </div>
                   </div>
                   <hr>
                   <button style="margin-right:10px;margin-bottom:10px;float:right;"mat-flat-button>Apply</button>
                 </div>
              </mat-menu>
<!--             <mat-form-field class="filter">
                <mat-select multiple placeholder="Filter" [formControl]="options">
                    <mat-option *ngFor="let filter of filterOptions" [value]="filter" (click)="OnSelectOption(this)">
                        {{filter}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
        </div>

        <div *ngIf="project">
            <button class="mx-1" mat-flat-button type="button" (click)="onAddNewStringClick()">Add new string</button>
            <button class="mx-1" mat-flat-button color="primary" type="button" [routerLink]="['/project/details', project.id]">Project Details</button>
        </div>
    </mat-card>

  <!-- <div class="mt-1 mb-1" *ngIf="!isLoad">
    <mat-card class="no-string-div">
      <mat-spinner></mat-spinner>
    </mat-card> 
  </div>  -->

  <div class="mt-1 mb-1" *ngIf="isLoad && keys.length===0">
    <mat-card class="no-string-div">
      <p>No strings</p>
    </mat-card> 
  </div> 

  <!-- <div *ngIf="!isLoad&&!keys" class="spinner key-details my-1 px-0 grow-1 mr-0 ml-1">
		<mat-spinner></mat-spinner>
</div> -->


  <div class="d-flex workspace-height" *ngIf="keys.length!==0&&isLoad">
    <mat-card class="keys-list d-flex my-1 p-0">
      <div style="width: 100%;">
      
        <mat-nav-list class="keys-list__nav key-list-style" ngxInfiniteScroller horizontal="false" (onScrollUp)="onScrollUp()" (onScrollDown)="onScrollDown()">

          <a mat-list-item [routerLink]="['key', key.id]" [routerLinkActive]="'active'" *ngFor="let key of keys">
            <div [class.selected]="key === selectedKey" (click)="onSelect(key)">
              <app-workspace-key (idEvent)="receiveId($event)" [key]="key"></app-workspace-key>
            </div>
            <mat-divider></mat-divider>
          </a>
        </mat-nav-list>


      </div>
    </mat-card>
    <div style="width: 100%;" *ngIf="keys.length !== 0">
      <router-outlet></router-outlet>
    </div>
  </div>
  <ng-snotify></ng-snotify>
</section>
