::host
  display: flex;

.project-logo
  width: 100px
  height: 100px
  border-radius: 50%

.keys-list
  max-width: 300px;

  .keys-list__nav
    width: 100%

    .mat-list-item-content
      display: flex
      flex-direction: column