<header class="project-header d-flex align-items-center py-0">
  <div class="d-flex flex-column grow-1 px-2 secondary">
    <h2>{{project.Name}}</h2>
  </div>
</header>

<section class="project-main">
  <mat-card class="d-flex align-items-center py-0 px-1 justify-space-between search-bar">
    <div>
      <mat-form-field class="search-form-field" [floatLabel]="'never'">
        <button mat-button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
        <input matInput type="text" placeholder="Search" [(ngModel)]="searchQuery">
        <button *ngIf="searchQuery.length!=0" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''">
          <mat-icon>close</mat-icon>
        </button>

      </mat-form-field>
      <button class="mx-1" mat-flat-button type="button" (click)="onAdvanceSearchClick()">Advance Search</button>
    </div>

    <button class="mx-1" mat-flat-button type="button" (click)="onAddNewStringClick()">Add new string</button>
  </mat-card>

  <div class="d-flex">
    <mat-card class="keys-list d-flex my-1">
      <mat-nav-list class="keys-list__nav">
        <a mat-list-item [routerLink]="['key', key.id]" routerLinkActive="active" *ngFor="let key of keys">
          <app-workspace-key [key]="key"></app-workspace-key>
          <mat-divider></mat-divider>
        </a>
      </mat-nav-list>
    </mat-card>

    <router-outlet></router-outlet>
  </div>
</section>