\:host
  display: flex
  flex-direction: column
  
header
  background: #EDE7F6
  min-height: 66px

.project-logo
  width: 100px
  height: 100px
  border-radius: 50%
  background: white

.project-main
  display: flex
  flex-direction: column

.keys-list
  max-width: 25%
  min-width: 25%
  overflow-y: scroll

  .mat-list-item
    height: auto

  .keys-list__nav
    width: 100%

.key-details-card
  margin-right: 0 !important

.search-bar
  min-height: 70px

::-webkit-scrollbar 
  width: 5px
::-webkit-scrollbar-track 
    background: #f1f1f1
::-webkit-scrollbar-thumb 
    background: #888
::-webkit-scrollbar-thumb:hover 
    background: #555
.project-button-wrapper
    display: flex
    justify-content: space-between
